[submodule "z3"]
	path = z3
	url = https://git.codeplex.com/z3
[submodule "capstone"]
	path = capstone
	url = https://github.com/aquynh/capstone.git
[submodule "dynamorio"]
	path = dynamorio
	url = https://github.com/DynamoRIO/dynamorio.git
[submodule "openreil"]
	path = openreil
	url = https://github.com/Cr4sh/openreil.git
